body {
	text-align: center;
	display: block;
	height: 100%;
	overflow: hidden;
	grid-template-columns: 30% 70%;
}

html,body,.container-fluid {
    height:100%;
}

.window {
	height: 100%;
}

nav.menu-left {
	background-color: #f8f9fa;
	height: 100%;
	grid-template-columns: 100%;
	display: inline-block;
}

div.form {
	padding-top: 1%;
	padding-left: 3%;
}

nav.small-card
{
	padding: 15px;
	color: #96e2e9;
	border-bottom: 1px solid rgba(241, 241, 241,0.5);
	cursor: pointer;
}

nav.small-card:hover {
	opacity: 0.8;
}

nav.row {
	width: 108%;
	background-color: #404040;
	font-weight: 500;
}

nav.main-card {
	padding: 30px;
	color: white;
	background-color: #48A1E5;
	font-weight: 600;
}

div.main-row {
	display: inline-block;
}

div.form h4 {
	margin-bottom: 20px;
}

.btn-outline-secondary {
	margin-right: -2px;
	border-right: none;
}

.btn-outline-success {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.btn-outline-secondary:hover {
	border: 1px solid #ced4da;
	border-right: none;
}